.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}





header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px lightblue;
    column-gap: 8px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header img{
    display:block;
    width:100%;
    height: auto;
    padding-bottom: 3px;
}

header span{
    font-size: 1.2rem;
}

.hamburger{
    background: none;
    border:none;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger:before{
    content:"\2630";
}

.hamburger.show:before{
    content:"\00D7";
}

.navigation{
    height:44px;
    display: none;
}

.navigation.show {
  display: block;
  margin-bottom: 150px;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px .8rem 10px;
    color: grey;
    text-decoration: none;
    border-bottom: solid 1px lightblue;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navigation li.current{
    background-color: #eee;
}

.navigation a:hover{
    background-color: lightblue;
}


h1{
    margin-left: 10px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: lightblue;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

h2{
    background-color: steelblue;
    color: white;
    padding: 10px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#hero{
    width: 100%;
    height: auto;
}

h3{
    text-align: center;
}


section{
    background-color: lightblue;
    margin-top: 15px;
}

section h2{
    margin: 0 0 0 0;
}

section p{
    margin-top: 0;
    padding: 10px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section button{
    margin: 35px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}


#businesscards{
    margin-bottom: 30px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 5px;
	align-items: center;

	img {
		box-shadow: 0 0 1rem #555;
        width: 100px;
        height: auto;
        float: left;
        margin: 10px;
	}
}


.list {
	display: flex;
	flex-direction: column;

	section {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		margin: 0;
		padding: 0.25rem;

		img {
			display: none;
		}

		h3 {
			font-size: 1rem;
		}

		&:nth-child(even) {
			background-color: #bbb;
		}
	}
}

#businesscards h2{
    grid-column: 1/4;
}

#businesscards p{
    text-align: center;
    margin: 8px;
}


button {
    height: 44px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover{
    background-color: rgb(41, 183, 227);
}

footer{
    background-color: lightblue;
    padding: 1rem 10px;
    margin-top: 20px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: grey solid 1px;
    width: 44px;
    height: 44px;
    border-radius: 16px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color:  rgb(41, 183, 227);
}

form{
        grid-column: 1/2;
}

label{
        margin: 10px;
        font-family: "Play", sans-serif;
        font-weight: 700;
        font-style: normal;
        height: 44px;
}

label,input{
    display:flex;
    flex-direction:column;
}

input[type="radio"]{
    display: block;
    width:44px;
    height: 20px;
}

label:has(input[type="radio"]){
        display: block;
}
    
input[type="textarea"]{
    height: 100px;
}

label:has(input[type="textarea"]){
    margin-top: 20px;
}

input[type="submit"]{
    font-family: "Play", sans-serif;
    font-weight: 800;
    font-style: normal;
    border-width: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 50px;
}

input[type="submit"]:hover{
   background-color:  rgb(41, 183, 227);
}

#levels{
    text-align: center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

dialog {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding: 20px;
}
::backdrop {
  background-color: rgb(0 0 0 / 50%);
}


#levels section{
    opacity: 0%
}

#levels section:nth-of-type(1){
    animation: 1s ease-in 0s 1 appear;
    animation-fill-mode: forwards;
}

#levels section:nth-of-type(2){
    animation: 1s ease-in 0.25s 1 appear;
    animation-fill-mode: forwards;
}

#levels section:nth-of-type(3){
    animation: 1s ease-in 0.5s 1 appear;
    animation-fill-mode: forwards;
}

#levels section:nth-of-type(4){
    animation: 1s ease-in 0.75s 1 appear;
    animation-fill-mode: forwards;
}

@keyframes appear {
        0% {
        transform: translatex(25%);
        opacity: 0%;
        }
        100% {
        transform: translatex(0);
        opacity: 100%;
        }
    }
:modal p{
    font-family: "Play", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#results{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    grid-column: 1/4;
}

#locations div{
    display: grid;
    grid-template-areas: 
    "name"
    "image"
    "description"
    "address"
    "learnbtn";
}

#locations div image{
    grid-area: image;
}

#locations div h2{
    grid-area: name;
}

#locations div button{
    grid-area: learnbtn;
}

#locations div address{
    grid-area: address;
    margin-top: -80px;
    padding-left: 10px;
}

#locations div p{
    grid-area: description;
}