.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}





header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px lightblue;
    column-gap: 8px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header img{
    display:block;
    width:100%;
    height: auto;
    padding-bottom: 3px;
}

header span{
    font-size: 1.2rem;
}

.hamburger{
    background: none;
    border:none;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger:before{
    content:"\2630";
}

.hamburger.show:before{
    content:"\00D7";
}

.navigation{
    height:44px;
    display: none;
}

.navigation.show {
  display: block;
  margin-bottom: 150px;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px .8rem 10px;
    color: grey;
    text-decoration: none;
    border-bottom: solid 1px lightblue;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navigation li.current{
    background-color: #eee;
}

.navigation a:hover{
    background-color: lightblue;
}


h1{
    margin-left: 10px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2{
    background-color: steelblue;
    color: white;
    padding: 10px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}



section{
    background-color: lightblue;
    margin-top: 15px;
}

section h2{
    margin: 0 0 0 0;
}

section p{
    margin-top: 0;
    padding: 10px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#businesscards{
    margin-bottom: 30px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 5px;
	align-items: center;

	img {
		box-shadow: 0 0 1rem #555;
        width: 100px;
        height: auto;
        float: left;
        margin: 10px;
	}
}


.list {
	display: flex;
	flex-direction: column;

	section {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		margin: 0;
		padding: 0.25rem;

		img {
			display: none;
		}

		h3 {
			font-size: 1rem;
		}

		&:nth-child(even) {
			background-color: #bbb;
		}
	}
}

#businesscards h2{
    grid-column: 1/4;
}

#businesscards p{
    text-align: center;
    margin: 8px;
}


button {
    height: 44px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover{
    background-color: rgb(41, 183, 227);
}

footer{
    background-color: lightblue;
    padding: 1rem 10px;
    margin-top: 20px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: grey solid 1px;
    width: 44px;
    height: 44px;
    border-radius: 16px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color:  rgb(41, 183, 227);
}