#cards{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
    column-gap: 10px;
    row-gap: 10px;
}

section{
    background-color: aqua;
}

section h2{
    text-align: center;
}

section p{
    text-align: center;
}

section img{
    display: flex;
    margin: 0 auto;
}